arrow
build
invoke
folium
geopandas
html5lib
ipython
lxml
mapclassify
matplotlib
networkx
numpy
openpyxl
pandas
pingouin
py7zr
pyarrow
python-dotenv
python-Levenshtein
pyodbc
pytest
requests
scikit-learn
seaborn
selenium
thefuzz
toml
twine
wget