build
invoke
toml
arrow
pyarrow
folium
geopandas
ipython
mapclassify
matplotlib
networkx
numpy
openpyxl
pandas
pingouin
py7zr
pyodbc
pytest
python-dotenv
python-Levenshtein
requests
scikit-learn
seaborn
thefuzz
wget
twine